<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
{% if session.user_id %}
    Hello {{ session.user_name}}
{% else %}
<a href="/user/sign_in">Sign in</a>
<br>
<a href="/user/register">Sign up</a>
{% endif %}
    <h1>Menu</h1>

    <div>
    {% for dish in dishes %}
        <div>
            <form method="post">
            <h2>{{ dish.dish_name }}</h2>
            <p>{{ dish.description }}</p>
            <p>{{ dish.category }} category </p>
            <p>{{ dish.price }} $</p>
            <p>{{ dish.ccal }} ccal</p>
            <button onclick="addToCart(this)" dish_id={{dish.id}} type="submit">Add to Cart </button>
            </form>
        </div>
    {% endfor %}
    </div>


</body>
</html>

<script>
function addToCart(button) {
    fetch('/cart'
    )
}
</script>