<!DOCTYPE html>
<html lang="en">
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>
{% if session.user_id %}
Hello {{ session.user_name}}
{% else %}
<a href="/user/sign_in">Sign in</a>
<br>
<a href="/user/register">Sign up</a>
{% endif %}
<h1>Menu</h1>
<h2><a href="{{ url_for('cart')}}"> Cart </a></h2>
<form method="post">
<input type="search" name="search" id="search">
<input type="submit" value="Search" id="Search dish" formaction="{{ url_for('menu_search') }}" >
</form>
<br>
<div>
    <div>
        <form method="post">
            <table style="width:50%">

                <tr>
                    <th>Dish name</th>
                    <th>Category</th>
                    <th>Ccal</th>
                    <th>Fat</th>
                    <th>Carb</th>
                    <th>Description</th>
                    <th>Count</th>
                    <th>Price</th>
                    <th>Picture</th>
                </tr>
                {% for dish in dishes %}
                <tr>
                    <td><h2><a href="{{ url_for('menu_dish', cat_name=dish.category, dish_id=dish.id) }}"> {{
                        dish.dish_name }}</a></h2> <input type="submit" name={{ dish.id }} value="Add"
                                                          formaction="{{ url_for('cart_add') }} ">

                    </td>
                    <td>{{ dish.category }} category</td>
                    <td>{{ dish.ccal }} ccal</td>
                    <td>{{ dish.fat }} fat</td>
                    <td>{{ dish.carb }} carb</td>
                    <td>{{ dish.description }}</td>
                    <td><input type="number" id={{ dish.id }} name=count_{{ dish.id }} value=0 min="0" max="5">
<!--                        <input type="hidden" value="ADDD" id="dish_id" name={{ dish.id }}>-->
                    </td>
                    <td>{{ dish.price }} $</td>
                    <td><img src={{ dish.photo }} width="100">
                    </td>
                </tr>
                {% endfor %}
            </table>
        </form>
    </div>
</div>


</body>
</html>

