<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change password</title>
</head>
<body>
<h1>Change password</h1>
<div>
    <form method="post">
        <label for="phone">Phone</label>
        <input name="phone" id="phone" required>
        <label for="new_password">New Password</label>
        <input type="new_password" name="new_password" id="new_password" required>
        <input type="submit" value="Change password">
    </form>
<div>
    <h2>{{ user[0].name }} name</h2>
    <p>{{ user[0].id }} id</p>
    <p>{{ user[0].phone }} phone</p>
    <p>{{ user[0].password }} password</p>
</div>

</body>
</html>