<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
</head>
<body>
<h1>Orders</h1>
{% if session.user_id %}
Hello {{ session.user_name}}
{% for order in orders %}
<div>
    <h2><a href="{{ url_for('user_order', order_id=order.id) }}"> {{
                        order.id }}</a></h2>
    <p>{{ order.order_date }} DATE </p>
    {% for dish in order.dishes %}
    <p>{{ dish.dish_name }}</p>
    <p>{{ dish.price }}</p>
    <p>{{ dish.count }}</p>
    <p>{{ dish.description }}</p>

    {% endfor %}
    <p>{{ order.total }} ORDER TOTAL $</p>
    <p>{{ order.total_ccal }} ORDER TOTAL CCAL $</p>
</div>
{% endfor %}
{% else %}
<a href="/user/sign_in">Sign in</a>
<br>
<a href="/user/register">Sign up</a>
{% endif %}


</body>
</html>